<!DOCTYPE html>
<html>
<head>
	<title>GarbageGuard - AI 기반 건설 폐기물 관리 서비스</title>
	<meta charset="utf-8">
	<meta name="author" content="GarbageGuardMain">
	<link rel="stylesheet" href="Material_registrationCSS.css" />
</head>
<body>

	<nav id="menubar">
		<div id="logo">
			  <a href="">
			    <img src="logo.png" alt="Logo" width="150" />
			  </a>
		</div>

		<div id="menu1">
			<ul>
				<li>
					<a href="Main.html">Main</a>
				</li>

				<li class="menu-waste">
				  <a href="#">Waste disposal</a>
				  <div class="submenu">
				    <a href="Csr.html">Construction site registration</a>
				    <a href="#">2</a>
				  </div>
				</li>
				<li id="STORE"><a href="">Analytics and Statistics</a></li>
				<li id="RESPONSIBILITY"><a href="Createlift.html">Create lift</a></li>
			</ul>
		</div>
	</nav>





	<div id="character">✨</div>
	<br>
	<br>
	<br>
	<br>
	<br>


	<div class="container">

		<div class="div1">

		<button id="Button1">Update</button>
		<button id="Button2">Delete</button>

			<div id="box">
				<a>현장명</a>
				<br>
			    <input type="text" id="search-input" placeholder="건설현장이름" />
			    <br>
			    <a>계열사</a>
			    <br>
			    <input type="text" id="search-input" placeholder="계열사" />
			    <br>
			    <a>주소</a>
			    <br>
			    <input type="text" id="search-input" placeholder="주소" />
			    <br>
			    <a>담당자명</a>
			    <br>
			    <input type="text" id="search-input" placeholder="담당자" />
			</div>
		</div>



		<div id="box2">
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>

			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
		</div>














		<div id="box3">
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>

			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
			<div id="Material-box">
				<div id="Material">
					<a>자재명</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>수 량</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />
				</div>
				<div id="Material">
					<a>단 위</a>
				    <br>
				    <input type="text" class="Material_name" placeholder="" />

				</div>
				<div id="delete">
					<button id="Button3">delete</button>
				</div>
			</div>
















		</div>
















	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
  <script type="text/javascript" src="Material_registrationJS.js">
  </script>



	<header align="center">
	</header>


	<footer>만든이 : 권태희</footer>

</body>

</html>